<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iOS-mvvm-practice.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F40E26F42C1EC292008AF5C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F40E270A2C1EC294008AF5C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F40E27142C1EC294008AF5C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
